{% extends "faustedition.html" %}

{% macro checkbox(name, label) -%}
    <input type="checkbox" name="{{ name }}" id="{{ name }}">
    <label for="{{ name }}">{{ label }}</label>
{%- endmacro %}

{% macro radiolist(name, items, checked=None) -%} {# items = [(name, item, title?), (name, item, title?)] #}
    {% for item in items %}
        <input type="radio" name="{{ name }}" id="{{ name }}_{{ item[0] }}" value="{{ item[0] }}"
               {% if (item[0] == checked) %} checked {% endif %}
               {% if item|length > 2 %} title="{{item[2]}}" {% endif %}>
        <label for="{{ name }}_{{ item[0] }}"
                {% if item|length > 2 %} title="{{item[2]}}" {% endif %}>
        {{ item[1] }}</label>
         
    {% endfor %}
{%- endmacro %}

{% block head %}
    <style>
        main {
            display: flex;
            justify-items: center;
            flex-direction: column;
            width: 100%;
            height: calc(100vh - 3.4em);
        }
        main.vertical {
            flex-direction: row;
        }
        #subgraph-form {
            flex-grow: 0;
            min-width: 24em;
        }
        .flex-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .vertical > .flex-form {
            flex-direction: column;
        }
        .flex-form fieldset, .flex-form section {
            padding: 0 1em;
            flex-grow: 1;
        }
        #refgraph {
            text-align: center;
            flex-grow: 1;
            overflow: auto;
        }
        button, input, select, textarea {
            vertical-align: middle;
        }
        footer { display: none; }

        #subgraph-form p {
            margin: 0.5em 0;
        }
    </style>
{% endblock %}

{% block d3script %}
    <script type="application/javascript">

        async function updateURLs(query) {
            const params = new URLSearchParams(query),
                  searchString = '?' + params.toString(),
                  location = new URL(window.location);

            if (location.search !== searchString) {
                location.search = searchString;
                history.replaceState(null, '', location)

            }

            try {
                const downloadTemplateEl = document.getElementById('download');
                const parseContainer = document.createElement('div');
                parseContainer.innerHTML = downloadTemplateEl.innerHTML;
                const graphDownloadArea = parseContainer.querySelector('#download-graph');
                for (const a of graphDownloadArea.getElementsByTagName("a")) {
                    a.search = searchString;
                }
                downloadTemplateEl.innerHTML = parseContainer.innerHTML;
            } catch (e) {
                console.warn(e);
            }

            const breadcrumbElement = document.getElementById('current');
            current.innerText = 'Teilgraph: ' + params.get('nodes');
        }

        function addLongMessage(msg, severity) {
            const container = document.getElementById('long-messages'),
                  el = document.createElement('div');
            container.appendChild(el);
            el.innerHTML = `<div class="pure-alert pure-alert-${severity}">
                <a href="#" class="pull-right"><strong>×</strong></a>
                ${msg}
            </div>`;
            el.firstElementChild.firstElementChild.onclick = () => container.removeChild(el);
        }

        function clearLongMessages() {
            document.getElementById('long-messages').innerHTML = '';
        }

        function message(msg, severity, long) {
            if (long) {
                return addLongMessage(msg, severity);  // legacy
            }
            const headerElement = document.getElementById('header-status'),
                  longMessage = document.getElementById('long-message'),
                  updating = long? longMessage: headerElement,
                  other = long? headerElement: longMessage;
            longMessage.style.display = (!!msg && long)? "block" : "none";
            if (msg) {
                if (!severity)
                    severity = "info";
                updating.innerHTML = msg;
                updating.className = "pure-alert pure-alert-" + severity
                updating.style.visibility = "visible";
                //other.style.visibility = "hidden";
            } else {
                updating.style.visibility = "hidden";
                //other.style.visibility = "hidden";
            }
        }

        function getFormData() {
            const form = document.getElementById('subgraph-form');
            return new FormData(form);
        }

        function setFormData(form, data) {
            if (!form) form = document.getElementById('subgraph-form');
            if (!data) data = document.location.search;
            const entries = (new URLSearchParams(data)).entries();
            console.log(form, data, entries);
            form.reset();
            for (const [key, val] of entries) {
                const input = form.elements[key];
                if (input) {
                    if (input.type === 'checkbox')
                        input.checked = !!val;
                    else
                        input.value = val;
                }
                console.log(form, key, val)
            }

        }

        async function querySubgraph(formdata) {
            const query = new URLSearchParams(formdata).toString()
            const response = await fetch('subgraph/extract?' + query);
            if (response.status === 200)
                return await response.json();
            else
                throw await response.text();
        }

        async function getDotStr(formdata) {
            const query = new URLSearchParams(formdata).toString()
            const response = await fetch('subgraph/dot?' + query);
            if (response.status === 200)
                return await response.text();
            else
                throw await response.text();
        }
        const graphviz = d3.select('#refgraph').graphviz({fit: false}),
              statusMessages = {
                start: "Parse Graphdatei …",
                layoutStart: "Berechne Graphlayout …",
                  renderStart: "Rendere …",
                  transitionStart: "Überblende neuen Graph …",
                  end: ""
              };
        for (const eventType in statusMessages) {
            graphviz.on(eventType, () => message(statusMessages[eventType], 'info'));
        }

        const transitionFactory = () => d3.transition().duration(750);
        const updateGraph = function updateGraph() {
            const formdata = getFormData(),
                  main = document.getElementsByTagName('main')[0];
            message("Lade aktualisierten Graphen …")
            clearLongMessages();
            querySubgraph(formdata)
                .then(resp => {
                    message("Berechne neues Layout …");
                    if (resp.unknown_nodes && resp.unknown_nodes.length > 0) {
                        addLongMessage('Die folgenden Knoten sind nicht im Graphen: ' + resp.unknown_nodes.join(', '), 'warning', true)
                    }
                    if (resp.nodes.length === 0) {
                        addLongMessage(`<p>
                            <strong>Keine zentralen Knoten angefragt.</strong>
                            Geben Sie im Feld <em>Zentrale Knoten</em> eine oder mehrere Siglen
                            aus den Makrogenesedaten an.</p>`, 'danger');
                        document.getElementById('nodes').focus();
                    } else {
                        document.getElementById('nodes').value = resp.nodes.join(', ');
                        document.getElementById('extra').value = resp.extra_nodes.join(', ');
                    }
                    return resp;
                })
                .then(resp => {
                    graphviz.transition(transitionFactory).renderDot(resp.dot);
                })
            //.then(() => message())
            .catch(reason => {
                try {
                    const details = JSON.parse(reason).detail;
                    console.error(details);
                    if (details.msg) {
                        addLongMessage(details.msg, 'danger')
                    } else {
                        addLongMessage(`<pre>${details}</pre>`, "danger")
                    }
                    if (details.dot) {
                        graphviz.transition(transitionFactory).renderDot(details.dot);
                    }
                } catch (e) {
                    addLongMessage(`<pre>${reason}</pre>`, "danger")
                    console.error(reason)
                }
            });
            updateURLs(formdata);
            if (formdata.get('dir').includes('B')) { // vertical layout
                main.classList.add('vertical');
            } else {
                main.classList.remove('vertical');
            }
        }

        const fixNodesField = function fixNodesField(element) {
            const origValue = element.value,
                query = new URLSearchParams([['nodes', origValue]]).toString();
            fetch('subgraph/check-nodes?' + query)
                .then(response => response.json())
                .then(checkedNodes => {
                    if (element.value === origValue) { // no change from user in the meantime
                        element.value = checkedNodes.normalized;
                        if (checkedNodes.not_found) {
                            message(checkedNodes.error_msg, 'error');
                            element.valid = false;
                            element.title = checkedNodes.error_msg;
                        } else {
                            element.valid = true;
                            element.title = checkedNodes.error_msg;
                        }
                    }
                })
        }


        d3.selectAll('#subgraph-form input[type=checkbox], #subgraph-form input[type=radio]').on("click", updateGraph);
        d3.selectAll('#subgraph-form select').on("input", updateGraph);
        d3.selectAll('#subgraph-form input[type=text]').on("blur", function() {
            updateGraph();
            fixNodesField(this);
        });
        document.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                updateGraph();
                fixNodesField(this);
            }
        });

        setFormData();
        updateGraph();

        function contentRequired(formSelector, nonEmptyFieldName) {
            const form = document.querySelector(formSelector),
                  nonEmptyField = form.elements[nonEmptyFieldName],
                  submitButton = form.querySelector('input[type=submit]'),
                  checkInput = function() {
                      if (submitButton)
                          submitButton.disabled = !nonEmptyField.value; /* ← äußere Variablen */
                  };
            nonEmptyField.addEventListener("input", checkInput);
            checkInput();
        }
        contentRequired('#subgraph-form', 'nodes');
    </script>
{% endblock %}

{% block content %}

    <p class="pure-alert pure-alert-warning" style="display: none" id="long-message">
    </p>
    <div id="long-messages"></div>

    <div id="refgraph"></div>

    <form id="subgraph-form" method="get" class="flex-form pure-form">
    <fieldset>
    <legend>Zentrale Knoten
    <small class="pull-right">{{ checkbox('nohl', 'nicht hervorheben') }}</small>
    </legend>
    <p><input type="text" name="nodes" id="nodes" value="" style="width: 100%;" placeholder="2 V H.13">
    </p>
    <p>Pfade dazwischen: {{ radiolist('central_paths', [
            ('no', 'keine', 'nur induzierte Kanten'),
            ('dag', 'nur positive', 'keine Pfade über Konfliktkanten'),
            ('all', 'alle', 'Pfade in Hin- und Rückrichtung für jedes mögliche Kernknotenpaar')], 'all') }}</p>
    <p>{{ checkbox('context', 'Nachbarknoten') }}</p>
    <p>{{ checkbox('inscriptions', 'Inskriptionen ↔ Zeugen') }}</p>
    <p>{{ checkbox('syn', 'ungefähr gleichzeitige Knoten') }}</p>
    </fieldset>
    <fieldset>
    <legend>Zusätzliche Pfade</legend>
    <p>{{ checkbox('abs_dates', 'absolute Datierungen rechtfertigen') }}</p>
    <p><label for="extra">Pfade von/zu (falls verfügbar): </label><br/>
        <input type="text" name="extra" id="extra" value="" list="interesting-nodes" placeholder="A, 2 H" style="width: 100%"><br />
        {{ checkbox('paths_wo_timeline', 'ohne Zeitstrahl') }}
    </p>
        {% if models|length > 1 %}
            <p>
                <label for="model">Modell: </label>
                <select id="model" name="model" value="">
                    {% for model_name in models %}
                        <option value="{{ model_name }}">{{ model_name }}</option>
                    {% endfor %}
                </select>
            </p>
        {% endif %}
    </fieldset>
    <fieldset>
    <legend>Kantenauswahl</legend>
    <p>{{ checkbox('assertions', 'unmittelbare Aussagen über Kernknoten') }}</p>
    <p>{{ checkbox('induced_edges', 'alle induzierten Kanten') }}</p>
    <p>{{ checkbox('ignored_edges', 'ignorierte (graue) Kanten') }}</p>
    <p>{{ checkbox('tred', 'Transitive Reduktion') }}</p>
    </fieldset>
    <fieldset>
    <legend>Graphlayout</legend>
    <p>{{ checkbox('no_edge_labels', 'keine Kantenbeschriftung') }}</p>
    <p>{{ checkbox('collapse', 'Parallelkanten zusammenfassen') }}</p>
    <p>{{ checkbox('order', 'Topologische Sortierung') }}</p>
    <p style="vertical-align: middle">
        Richtung: {{ radiolist('dir', [('LR', '→'), ('TB', '↓'), ('RL', '←'), ('BT', '↑')], 'LR') }}
    </p>
    </fieldset>
</form>

    <datalist id="interesting-nodes">
        <option value="A, 2 H"></option>
        <option value="1 H.5, J.1, S, 2 III H.1, H P1, A, H P63, 2 V H.2, C.1 4, C.1 12, 2 H"></option>
    </datalist>

{% endblock %}

{%- block title -%}
 · Makrogenese-Teilgraph: {{ nodes }}
{%- endblock -%}

{% block download_current %}
    <div id="download-graph" class="pure-u-1-3 pure-gap">
        <a>aktueller Graph</a>
        <a href="subgraph/pdf?{{ query }}"><i class="fa fa-file-pdf"></i> als PDF</a>
        <a href="subgraph/dot?{{ query }}"><i class="fa fa-doc-text"></i> als GraphViz .dot</a>
        <a href="subgraph/svg?{{ query }}"><i class="fa fa-file-image"></i> als SVG</a>
    </div>
{% endblock %}

{% block helpurl %}subgraph/help{% endblock %}

{%- block breadcrumbs -%}
[{caption: 'Makrogenese', link: '/macrogenesis'}, {caption: 'Teilgraph: {{ nodes }}'}]
{%- endblock -%}
