{% extends "faustedition.html" %}
{% block content %}

    <article class="center pure-g-r">
        <section class="pure-u-1">
            <p>Der interaktive Subgraphviewer zeigt einen Ausschnitt aus dem Gesamtgraphen an, dessen Inhalt über ein
                Formular gewählt werden kann. Eine vorbelegte Ansicht bekommt man, indem man auf den Makrogeneseseiten
                auf das Symbol <i class="fa fa-sliders"></i> klickt, das z.B. neben den Graphen auf den Zeugenseiten
                erscheint.</p>
            <p>Die Gestaltung und Bedienung der eigentlichen Graphen erfolgt wie gewohnt, d.h. Klick auf einen Knoten
                führt zur Knotenseite, Klick auf eine Konfliktkante zur Konfliktseite.</p>
            <p>Die <strong>Eingabefelder</strong> erlauben das Auflisten von einem oder mehreren Knoten. Mehrere Knoten
                müssen durch <code>,</code> getrennt werden, zusätzliche Leerzeichen außerhalb der Siglen etc. werden
                ignoriert. Als Knotenbezeichnung möglich sind:</p>
            <ul>
                <li>Knotenlabels wie im Graph, also
                    <ul>
                        <li>Sigle</li>
                        <li>Sigle <em>Leerzeichen</em> Inskription</li>
                        <li>Datum in der Form YYYY-MM-TT</li>
                    </ul>
                </li>
                <li>URIs wie in den Makrogenese-Dateien</li>
            </ul>
            <h2 id="graphaufbau">Graphaufbau</h2>
            <h3 id="kontext">Zentrale Knoten</h3>
            <dl>
                <dt>Zentrale Knoten</dt>
                <dd>Die einzuschließenden Knoten. Gelb hervorgehoben, es sei denn, <strong>nicht hervorheben</strong>
                    ist gewählt. </dd>
                <dt>Pfade dazwischen</dt>
                <dd>Werden bei <em>Zentrale Knoten</em> mehrere Knoten angegeben, so werden bei Einstellung <strong>alle</strong>
                    jeweils die <strong>kürzesten Pfade</strong>zwischen jedem Knotenpaar hinzugefügt – in jede Richtung.
                    Bei Einstellung <strong>nur positive</strong> werden kürzeste Pfade, die über Konfliktkanten
                    (<span style="color: red">⇢</span>) laufen, nicht berücksichtigt.
                </dd>
                <dt>Nachbarknoten</dt>
                <dd>zu jedem zentralen Knoten werden die Nachbarknoten eingeschlossen, d.h. diejenigen Knoten, die im
                    DAG unmittelbar vor oder nach dem Kontextknoten liegen, sowie die kürzesten Pfade dahin.
                </dd>
                <dt>Inskriptionen ↔ Zeugen</dt>
                <dd>
                    Zu jedem zentralen Knoten werden alle Inskriptionen aufgenommen. Ist ein zentraler Knoten selbst
                    eine Inskription, so wird der zugehörige Zeuge und alle Inskriptionen aufgenommen.
                </dd>
                <dt>ungefähr gleichzeitige Knoten</dt>
                <dd>alle über eine »ungefähr-gleichzeitig«-Kante (<code>temp-syn</code>) angebundenen Knoten werden aufgenommen.</dd>
            </dl>
            <h3 id="pfade">Zusätzliche Pfade</h3>
            <dl>
                <dt>absolute Datierungen rechtfertigen</dt>
                <dd>zu jedem zentralen Knoten wird versucht, das früheste von diesem Knoten aus erreichbare Datum sowie
                    das späteste Datum, von dem der zentrale Knoten erreichbar ist, zu ermitteln. Der kürzeste Pfad
                    zwischen dem zentralen Knoten und den jeweiligen Daten wird mitsamt Parallelkanten in den Graphen
                    aufgenommen. Diese Pfade rechtfertigen die ‘engstmögliche’ Datierung, die für den Zeugen angegeben
                    werden kann.
                </dd>
                <dt>Pfade von/zu</dt>
                <dd>Werden hier Knoten aufgeführt, so werden die kürzesten Pfade zwischen jedem Kernknoten und jedem der
                    hier aufgeführten Pfade in den Graphen aufgenommen, falls existent. Auf diese Weise können die
                    Kernknoten in einen Kontext zu relevanten Meilensteinen gesetzt werden. Wird <strong>ohne
                    Zeitstrahl</strong> angekreuzt, werden absolute Datierungen bei der Pfadermittlung nicht
                    berücksichtigt.
                </dd>
            </dl>
            <h3 id="kantenauswahl">Kantenauswahl</h3>
            <p>Der so aufgebaute Graph kann nun noch weiter manipuliert werden:</p>
            <dl>
                <dt>unmittelbare Aussagen über Kernknoten</dt>
                <dd>alle Aussagen, die den Kernknoten unmittelbar betreffen, werden in den Graphen eingeschlossen. Dies
                    unterscheidet sich von den Nachbarknoten dadurch, dass hier auch Konflikt- und ggf. ignorierte
                    Kanten mit einbezogen werden.
                </dd>
                <dt>alle induzierten Kanten</dt>
                <dd>alle Kanten zwischen den bislang im Graphen befindlichen Knoten werden eingeschlossen (ignorierte
                    Kanten aber nur, wenn zusätzlich das nächste Kästchen angekreuzt wird)
                </dd>
                <dt>ignorierte (graue) Kanten</dt>
                <dd>wenn dieses Kästchen <em>nicht</em> angekreuzt ist, werden ignorierte (graue) Kanten wieder entfernt
                    bevor der Graph visualisiert wird.
                </dd>
                <dt>Transitive Reduktion</dt>
                <dd>zunächst werden alle Konfliktkanten und ignorierten Kanten entfernt, aus dem verbleibenden Graphen
                    wird dann die Transitive Reduktion berechnet. D.h. es werden alle „überflüssigen“ Kanten in Bezug
                    auf die Erreichbarkeitsrelation entfernt: wenn <span
                            class="math inline"><em>u</em> → <em>v</em> → <em>w</em></span> und <span
                            class="math inline"><em>u</em> → <em>w</em></span> im Graphen ist, ist <span
                            class="math inline"><em>u</em> → <em>w</em></span> überflüssig, da <span
                            class="math inline"><em>w</em></span> von <span class="math inline"><em>u</em></span> auch
                    über <span class="math inline"><em>v</em></span> erreichbar ist.
                </dd>
            </dl>
            <h3 id="graphlayout">Graphlayout</h3>
            <dl>
                <dt>keine Kantenbeschriftungen</dt>
                <dd>alle Kantenbeschriftungen (Quellen) werden ausgeblendet. Der Graph wird dadurch wesentlich kompakter.</dd>
                <dt>Parallelkanten zusammenfassen</dt>
                <dd>Parallel verlaufende Kanten (= gleiche Aussage in unterschiedlichen Quellen) werden zu einer Kante
                mit einer mehrzeiligen Beschriftung zusammengefasst.</dd>
                <dt>Referenzsortierung</dt>
                <dd>alle im Graph vorhandenen Referenzen (Zeugen und Inskriptionen) werden entsprechend der aus dem
                    Gesamtmodell berechneten (und in der Edition verwendeten) globalen Reihenfolge auf einer Linie in der
                    Hauptrichtung angeordnet und durch Kanten verbunden.
                </dd>
                <dt>Richtung</dt>
                <dd>die Hauptrichtung, in der die Zeit verläuft.</dd>
            </dl>
            <h2>Links & Downloads</h2>
            <p>
                Die Adresszeile wird mit jeder Änderung angepasst, so dass der aktuelle Graph einfach gebookmarkt
                / verlinkt werden kann.
            </p>
            <p>Im Download-Bereich (<i class="fa fa-download"></i>) können Versionen des aktuellen Graphen
                als PDF, SVG und GraphViz abgerufen werden.</p>
        </section>
    </article>
{% endblock %}
{% block breadcrumbs %}
[{caption: "Makrogenese", link: "/macrogenesis"}, {caption: "Teilgraph"}, {caption: "Hilfe"}]
{% endblock %}
